################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ED8/.vs/ED8/v15
/ED9/.vs/ED9/v15
/.vs/Estructuras-de-Datos/v15
/ED10/.vs/ED10/v15/ipch/AutoPCH/9af85a8bdff545b
/ED10/.vs/ED10/v15
/ED11/.vs/ED11/v15
/ED11/ED11/x64/Debug
/ED11/x64/Debug
